<h1>Contract Administration</h1>
<h2>Welcome to flight surety blockchain insurence</h2>

<h3>Deployed Address</h3>
<p>0xA463BB5c313BA752108254435a11Ba296cc86B11</p>
<h3>Operational Status</h3>

<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
</mat-button-toggle-group>
<br>
<br>
<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
  <mat-button-toggle value="bold">Bold</mat-button-toggle>
  <mat-button-toggle value="italic">Italic</mat-button-toggle>
</mat-button-toggle-group>
<br>
<br>

<h3>Authorize Data Contract</h3>

<mat-form-field appearance="fill">
  <mat-label>Input</mat-label>
  <input matInput>
</mat-form-field>
<button mat-button color="primary">Primary</button>
