<h1>Oracles</h1>

<mat-form-field appearance="fill">
  <mat-label>Select flight</mat-label>
  <mat-select (selectionChange)="selectChange($event)">
    <mat-option *ngFor="let flight of flights" [value]="flight.name">
      {{ flight.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<button mat-button style="background: lightgrey" (click)="fetchFlightStatus()">Fetch Flight Status</button>
<br><br>
<button mat-button style="background: lightgrey" (click)="withdraw()">Withdraw Cash</button>
<br><br>
<button mat-button style="background: lightgrey" (click)="testAPI()">Test API</button>

<!--
<h3>Airline address</h3>
<div *ngIf="selectedFlight">
  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput [(ngModel)]="selectedFlight.address" disabled>
  </mat-form-field>
  <h3>Flight timestamp</h3>
  <mat-form-field appearance="fill">
    <mat-label>Timestamp</mat-label>
    <input matInput [(ngModel)]="selectedFlight.timestamp" disabled>
  </mat-form-field>
  <h3>Insurance Amount</h3>
  <mat-form-field appearance="fill">
    <mat-label>100</mat-label>
    <input matInput [(ngModel)]="insuranceAmount">
  </mat-form-field>
</div>
<br>
<button mat-button style="background: lightgrey" (click)="withdrawInsurance()">Buy Insurance</button>
-->
<br>
