<h1>Buy Insurance as passenger</h1>
<mat-form-field appearance="fill">
  <mat-label>Select flight</mat-label>
  <mat-select (selectionChange)="selectChange($event)">
    <mat-option *ngFor="let flight of flights" [value]="flight.name">
      {{ flight.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<h3>Airline address</h3>
<div *ngIf="selectedFlight">
  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput [(ngModel)]="selectedFlight.address" disabled>
  </mat-form-field>
  <h3>Flight timestamp</h3>
  <mat-form-field appearance="fill">
    <mat-label>Timestamp</mat-label>
    <input matInput [(ngModel)]="selectedFlight.timestamp" disabled>
  </mat-form-field>
  <h3>Insurance Amount</h3>
  <mat-form-field appearance="fill">
    <mat-label>100</mat-label>
    <input matInput [(ngModel)]="insuranceAmount">
  </mat-form-field>
  <h3>Passenger Account</h3>
  <mat-form-field appearance="fill">
    <mat-label>0xA81e8A03d583298510653EdCC378B1506cC483CD</mat-label>
    <input matInput [(ngModel)]="passengerAccount">
  </mat-form-field>
</div>
<button mat-button style="background: lightgrey" (click)="buyInsurance()">Buy Insurance</button>
<br>
